{% extends "::base.html.twig" %}
{% block body %}
<h1>Welcome {{ user.email }} !</h1>
<h2>Docker Registry accounts</h2>
<ul>
    {% for credentials in dockerRegistryCredentials %}
    <li>
        <a href="{{ path('credentials_docker_registry', {'serverAddress': credentials.serverAddress}) }}">
            <strong>{{ credentials.serverAddress }}</strong> {{ credentials.username }}
        </a>
    </li>
    {% endfor %}
</ul>
<a href="{{ path('credentials_docker_registry_add') }}">Create new credentials</a>
{% endblock %}
