{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <p>Are you sure you want to unlink the {{ account.type }} account "{{ account.username }}" ?</p>

        <button type="submit" class="btn btn-primary">Unlink</button>
    {{ form_end(form) }}
{% endblock hwi_oauth_content %}
