{% extends "@Admin/layout.html.twig" %}
{% import _self as macros %}
{% block header_navbar_team_class %} class="active"{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin_teams') }}">Teams</a></li>
    <li class="active">{{ team.slug }}</li>
    <li>Clusters</li>
    <li class="active">{{ cluster.identifier }}</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nodes (requests)</h3>
            </div>
            <div class="panel-body status-nodes">
                {% for node in clusterStatus.nodes %}
                <div class="node">
                    <div class="node-name">{{ node.name }}</div>
                    <div class="resources-overview">
                        <div class="resource">
                            <div class="resource-title">CPU</div>
                            <div class="resource-container">
                                <div class="resource-value">{{ node.resources.percentOfAvailable.cpu.requests }} %</div>
                                <div class="resource-usage" style="height: {{ node.resources.percentOfAvailable.cpu.requests }}%; background-color: {{ macros.colour_from_percents(node.resources.percentOfAvailable.cpu.requests) }};"></div>
                            </div>
                        </div>
                        <div class="resource">
                            <div class="resource-title">Memory</div>
                            <div class="resource-container">
                                <div class="resource-value">{{ node.resources.percentOfAvailable.memory.requests }} %</div>
                                <div class="resource-usage" style="height: {{ node.resources.percentOfAvailable.memory.requests }}%; background-color: {{ macros.colour_from_percents(node.resources.percentOfAvailable.memory.requests) }};"></div>
                            </div>
                        </div>
                        <div class="resource">
                            <div class="resource-title">Volumes</div>
                            {% set volumePercents = (node.volumesInUse / 16) * 100 %}
                            <div class="resource-container">
                                <div class="resource-value">{{ node.volumesInUse }}</div>
                                <div class="resource-usage" style="height: {{ volumePercents }}%; background-color: {{ macros.colour_from_percents(volumePercents) }};"></div>
                            </div>
                        </div>
                    </div>
                    <div class="node-status">{{ node.status }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button onclick="$(this).parent().parent().toggleClass('display-namespace-name');" class="pull-right btn btn-small">Toggle display namespace name</button>
                <h3 class="panel-title">Pods</h3>
            </div>
            <div class="panel-body status-pods">
                {% for namespace, pods in clusterStatus.pods %}
                <div class="pod-namespace">
                    <div class="namespace-name">{{ namespace }}</div>
                    <div class="pods">
                        {% for pod in pods %}
                        <div class="pod"
                             style="background-color: {{ macros.get_colour_from_pod(pod) }};"
                             role="button"
                             data-toggle="popover"
                             title="{{ pod.name }}"
                             data-content="<b>Namespace:</b> {{ namespace }}<br><b>Status:</b> {{ pod.status }}<br><b>Ready:</b> {% if pod.isReady %}true{% else %}false{% endif %}<br><b>Creation date:</b> {{ pod.creationTimestamp }}<br><button class='btn' data-open-modal='modal-events-{{ namespace }}-{{ pod.name }}'>See events</button>">
                        </div>

                        <div class="modal fade" id="modal-events-{{ namespace }}-{{ pod.name }}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document" style="width: 90%;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Events</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered table-hovered">
                                            <thead>
                                            <tr>
                                                <th>First seen</th>
                                                <th>Last seen</th>
                                                <th>Count</th>
                                                <th>From</th>
                                                <th>Type</th>
                                                <th>Reason</th>
                                                <th>Message</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for event in pod.events %}
                                                <tr>
                                                    <td>{{ event.firstTimestamp }}</td>
                                                    <td>{{ event.lastTimestamp }}</td>
                                                    <td>{{ event.count }}</td>
                                                    <td>{{ event.source.component }}</td>
                                                    <td>{{ event.type }}</td>
                                                    <td>{{ event.reason }}</td>
                                                    <td>{{ event.message }}</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="7">No events found.</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<pre>{{ clusterStatus|json_encode }}</pre>

{% endblock %}
{% macro colour_from_percents(percents) %}{% spaceless %}
{% if percents > 90 %}red
{% elseif percents > 80 %}orange
{% elseif percents > 40 %}blue
{% else %}blue
{% endif %}
{% endspaceless %}{% endmacro %}

{% macro get_colour_from_pod(pod) %}
{% if pod.status == 'Running' %}
    {% if pod.isReady %}green{% else %}blue{% endif %}
{% elseif pod.status == 'Pending' %}orange
{% else %}red
{% endif %}
{% endmacro %}
{% block stylesheets %}
{{ parent() }}
<style type="text/css">
.status-pods .pod-namespace {
    border: 1px dotted #999;
    float: left;
    padding: 5px;
}
.status-pods .pod-namespace .namespace-name {
    display: none;
}
.display-namespace-name .status-pods .pod-namespace .namespace-name {
    display: block;
}
.status-pods .pod-namespace .pod {
    display: inline-block;
    background: #ccc;
    width: 20px;
    height: 20px;
}
.status-nodes .node {
    display: flex;
    width: 200px;
    flex-direction: column;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.status-nodes .node .node-name {
    white-space: nowrap;
    overflow: hidden;              /* "overflow" value must be different from "visible" */
    text-overflow:    ellipsis;
    direction:rtl;
    text-align:left;
    padding-bottom: 10px;
}
.status-nodes .node .resources-overview {
    height: 200px;
    display: flex;
}
.status-nodes .node .resources-overview .resource {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.status-nodes .node .resources-overview .resource .resource-title {
    text-align: center;
    font-weight: bold;
}
.status-nodes .node .resources-overview .resource .resource-container {
    border: 1px solid #ccc;
    flex: 1;
    position: relative;
}
.status-nodes .node .resources-overview .resource .resource-container .resource-usage {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: grey;
    z-index: 1;
}
.status-nodes .node .resources-overview .resource .resource-container .resource-value {
    text-align: center;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.status-nodes .node .node-status {
    text-align: center;
}
</style>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
$(function () {
    $('[data-toggle="popover"]').popover({
        html: true
    }).on('shown.bs.popover', function () {
        var popover = $(this);

        $('[data-open-modal]').click(function() {
            popover.popover('hide');

            var modalId = $(this).data('open-modal');

            $('#'+modalId).modal();
        })
    });
});
</script>
{% endblock %}
