{% extends "AppBundle:Account:layout.html.twig" %}
{% block nav_billing_profile_class %} class="active"{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/css/bootstrap-slider.min.css" />
{% endblock %}
{% block account_content %}
    <h2>Your billing profiles</h2>
    <ul>
        {% for billingProfile in billingProfiles %}
            <li><a href="{{ path('account_billing_profile', { 'uuid': billingProfile.uuid}) }}">{{ billingProfile.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Billing profiles of teams you administer</h2>
    <ul>
        {% for billingProfile in relatedTeamsBillingProfiles %}
            <li><a href="{{ path('account_billing_profile', { 'uuid': billingProfile.uuid}) }}">{{ billingProfile.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Create billing profile</h2>
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label for="billing-profile-name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="billing-profile-name" name="name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
{% endblock %}
