{% extends "@Admin/layout.html.twig" %}
{% block header_navbar_team_class %} class="active"{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li class="active">Teams</li>
</ol>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Users</th>
            <th># of flows</th>
            <th>Last tide</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td><a href="{{ path('admin_flows', {'team': item.team.slug}) }}">{{ item.team.slug }}</a></td>
            <td>{{ item.team.memberships.count() }}</td>
            <td>{{ item.flows | length }}</td>
            <td>
                {% if item.last_tide is null %}
                <em>None</em>
                {% else %}
                    {{ item.last_tide.creationDate | date('Y-m-d H:i:s') }} ({{ item.last_tide.status }})
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
