{% extends "@Admin/layout.html.twig" %}
{% block header_navbar_team_class %} class="active"{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin_teams') }}">Teams</a></li>
    <li class="active">{{ team.slug }}</li>
    <li class="active">Flows</li>
</ol>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>UUID</th>
            <th>Code Repository</th>
            <th>Creator</th>
        </tr>
    </thead>
    <tbody>
    {% for flow in flows %}
        <tr>
            <td><a href="{{ path('admin_tides', {'team': team.slug, 'flow': flow.uuid}) }}">{{ flow.uuid }}</a></td>
            <td>{{ flow.repository.address }}</td>
            <td>{{ flow.user.username }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No flows found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ol class="breadcrumb">
    <li><a href="{{ path('admin_teams') }}">Teams</a></li>
    <li class="active">{{ team.slug }}</li>
    <li class="active">Clusters</li>
</ol>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Identifier</th>
        <th>Address</th>
        <th>Version</th>
    </tr>
    </thead>
    <tbody>
    {% for cluster in clusters %}
        <tr>
            <td><a href="{{ path('admin_team_cluster', {'team': team.slug, 'clusterIdentifier': cluster.identifier}) }}">{{ cluster.identifier }}</a></td>
            <td>{{ cluster.address }}</td>
            <td>{{ cluster.version }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No cluster found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
