{% extends "@Admin/layout.html.twig" %}
{% block header_navbar_team_class %} class="active"{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin_teams') }}">Teams</a></li>
    <li class="active"><a href="{{ path('admin_team', {'team': team.slug}) }}">{{ team.slug }}</a></li>
    <li>Flows</li>
    <li class="active">{{ flow.uuid }}</li>
    <li class="active">Tides</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Operations</div>
            <table class="table">
                <tr>
                    <th>Archive tides' logs</th>
                    <td>
                        <form action="{{ path('admin_tides_archive_logs', {'team': team.slug, 'flow': flow.uuid}) }}" method="POST">
                            <button class="btn btn-primary">Archive logs</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Usage</div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>CPU Requests</th>
                    <th>Memory Requests</th>
                    <th>CPU Limits</th>
                    <th>Memory Limits</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ usage.requests.cpu|default('') }}</td>
                    <td>{{ usage.requests.memory|default('') }}</td>
                    <td>{{ usage.limits.cpu|default('') }}</td>
                    <td>{{ usage.limits.memory|default('') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>UUID</th>
            <th>Code Reference</th>
            <th>Creation date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for tide in pagination %}
        <tr>
            <td><a href="{{ path('admin_tide', {'team': team.slug, 'flow': flow.uuid, 'uuid': tide.uuid}) }}">{{ tide.uuid }}</a></td>
            <td>{{ tide.codeReference.branch }} ({{ tide.codeReference.commitSha }})</td>
            <td>{{ tide.creationDate | date }}</td>
            <td>{{ tide.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
